<div class="p-4">
    <%= render_group_collection(@groups) %>
    <div class="custom-btn p-4 ">
      <%= link_to 'New group', new_group_path, class: 'btn btn-lg custom-btn border border-white w-100' %>
    </div>
</div>

