<div class=" main-icon text-center ">
    <%= group_array(@groups) %>
    
       
     
   <div class="group-style external-display ">
     <%= link_to('New Group', new_group_path, class:"btn btn-success button-styling mt-5 ")%> 
   </div> 
</div>

