<div class="main-icon text-center ">
      <%= image_tag(url_for(@book&.groups&.first&.icon)) %>
        <div class=" shadow group-styling external-display">
         <h4>  <%= @book.title%> </h4>
            <%= @book.created_at%>   
      
        </div>
      
    
</div>

