// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.amount-border{
    border: 2px solid red;
    width: 6%;
    margin-left: auto;
    margin-right: auto; 
}

.external-display {
    margin-left: auto;
    margin-right: auto; 
}
.external-styling{
    width: 30%;
}